.our-work-title {
  text-align: center;
  font-weight: bold;
  font-size: 70px;
  color: #E4E4DE;
  margin-top: 150px;
}

.our-work-title span, .our-gear-title span {
  color: #595f39;
}

.our-gear-title {
  text-align: center;
  font-weight: bold;
  font-size: 70px;
  color: #E4E4DE;
  margin-bottom: 40px;
  margin-top: 150px;
}

.spotify-boxes {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.spotify-player {
  width: 600px;
  margin-bottom: 20px;
}


.title-section {
  color: #E4E4DE;
  position: relative;
  top: 15%;
}

.gear-card {
  width: 400px;
  margin-left: 40px;
  margin-bottom: 20px;
  background-color: #595f39;
  color: #E4E4DE;
  font-size: 20px;
  box-shadow: 0 4px 12px #0e0e0e;
}

.gear-card:hover {
  box-shadow: 0 0 12px rgba(75, 74, 74, 0.8);
}

.card-body {
  text-align: center;
  
}

.gear-row {
  display: flex;
  margin-top: 50px;
}

.meet-the-team {
  position: relative;
  background-color: #595f39;
  margin-top: 0;
  width: 100%;
  height: 1100px;
  background-size: cover;
}

.our-team-span {
  color: #1B1B1B;
}

.team-header {
  text-align: center;
  font-weight: bold;
  font-size: 70px;
  color: #E4E4DE;
  margin-bottom: 40px;
}


.about-me-card {
  background-color: #1B1B1B;
  color: #E4E4DE;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  margin-top: 100px;
}

.about-me-card:hover {
  box-shadow: 0 0 12px rgba(234, 232, 232, 0.8);
}

#about-bio {
  font-size: 18px;
}

.avatar:hover, .avatar-2:hover {
  box-shadow: 0 0 12px rgba(234, 232, 232, 0.8);
}

.avatar {
  width: 634px;
  height: 311px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin-top: 100px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

.avatar-2 {
  width: 634px;
  height: 311px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin-top: 32px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

.about-container {
  margin-top: 150px;
}