.c {
  position: relative;
  /* max-width: 500px;
  max-height: 500px; */
  width: 440px;
  height: 200px;
  cursor: pointer;
  will-change: transform, opacity;
  
}

.front,
.back {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.back {
  background-color: black;
  width: 400px;
  height: 300px;
  color: #E4E4DE;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(55, 54, 54, 0.9);
  z-index: 1;
  
}

.back-mixing {
  background-image: url('../rates-images/slr-studio.jpeg');
 
}

.recording-back {
  background-image: url('../rates-images/slr2.jpeg');
}

.space-back {
  background-image: url('../rates-images/slr3.jpeg');
}

.front {
  background-color: #060607;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  color: #E4E4DE;
  box-shadow: 0 4px 10px rgba(55, 54, 54, 0.9);
  z-index: 0;
}

.rates-container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  
}

.card-title {
  position: relative;
  top: 75%;
  font-size: 32px;
  font-weight: bold;
  background-color: #1B1B1B;
  border-radius: 10px;
  
}

.card-title-2 {
  text-align: center;
  font-size: 28px;
  position: relative;
  left: 40%;
  top: 5%;
  font-weight: bold;
  color: #E4E4DE;
}

.rates-list {
  margin-top: 30px;
  font-size: 20px;
  list-style: none;
  line-height: 50px;
  
}

.front:hover, .back:hover {
  box-shadow: 0 0 12px rgba(234, 232, 232, 0.8);
}

.rates-header {
  text-align: center;
  font-weight: bold;
  font-size: 70px;
  color: #E4E4DE;
  margin-bottom: 100px;
  margin-top: 150px;

}

.rates-header span {
  color: #595f39;
}

.rates-title {
  color: #E4E4DE;
  position: relative;
 
  
}

.rates-list li span {
  color: #595f39;
}

body {
  background-color: #1B1B1B;

}

.book-session {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin-top: 200px;
}

.book-session h2 {
  color: #E4E4DE;
}

.book-now-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.book-btn {
  width: 150px;
  font-size: 18px;
  border-style: none;
  border-radius: 10px;
  padding: 5px;
  background-color: #595f39;
  color: black;
}

.book-btn:hover {
  background-color: #C4C5BA;
}