/* body {
  background-color: rgb(71, 70, 70);
} */


.about-container {
  width: 100%;
}

.our-services {
  position: relative;
  margin-top: 0;
  width: 100%;
  height: 1200px;
  background-size: cover;
}

.services-header {
  text-align: center;
  font-weight: bold;
  font-size: 70px;
  color: #E4E4DE;
  margin-bottom: 40px;
}

.services-header span {
  color: #595f39;
}

.service-title {
  color: #E4E4DE;
  position: relative;
  top: 15%;
}



.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 200px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.grid-item img {
  width: 100%;
  height: auto;
  max-width: 200px; /* Adjust as needed */
}

.grid-item p {
  margin-top: 5px;
  font-size: 20px;
  width: 500px;
  color: #E4E4DE;
  border-radius: 10px;
}

.image-title {
  color: #595f39;
  margin-top: 20px;
  font-style: italic;
}

.watch-btn-about {
  width: 100px;
  height: 40px;
  border-style: none;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: black;
  color: #E4E4DE;
}

.watch-btn-about:hover {
  background-color: white;
  color: black;
}